.bg{
  background-color: #5ad6bf4d;
}
.job-card {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: #fff;
  width: 68%;
  margin-left: auto;
  margin-right:auto ;
}
.moshakhasat {
  display: flex;
}
.logo {
  margin-right: 20px;
}
.tag {
  transition: color 0.3s;
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: 4px;
  color: rgba(23, 137, 149, 0.825);
}
.company{
  color: rgba(23, 137, 149, 0.825);
}
.new {
  color: rgb(255, 255, 255);
  background-color: rgba(23, 137, 149, 0.825);
border-radius: 20px;
padding: 3px;
  margin-left: 10px;
  font-size: 15px;
}
.featured {
  color: rgb(255, 255, 255);
   background-color: rgba(0, 0, 0, 0.825);
   border-radius: 20px;
  margin-left: 10px;
  padding: 3px;
  font-size: 15px;
}
.position{
  font-size: 1.5rem;
  cursor:pointer;
  transition: color 0.3s;
}
.details{
  cursor: pointer;
  transition: color 0.3s;
  color: #6f6f6f;
}
.tags{
  margin-top: auto;
  margin-bottom: auto;

}
/* header */

.bg-desktep{
  width: 100%;
  margin-bottom: 100px;
  z-index: 1;
  position: relative;
  background: #28b49a;
}
.sort{
  position: absolute;
  top: 18%;
  left: 16%;
  width: 68%;
  height: 85px;
  background: #ffffff;
  z-index: 2;
  box-shadow: 5px 5px 5px 5px rgb(138, 138, 138);
  border-radius: 20px;
  display: flex;
}
.sorted{
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: 25px;
  color: rgb(21, 136, 189);
  margin-top: 25px;
  height: 30px;
  width: 65px;
  text-align: center;
  font-size: 25px;
}















/* .bala{ display: flex;
  justify-content: space-between;
padding: 2rem;
}
.left{
  display: flex;
 flex-direction: column;
}
.moshakhasat{
  display: flex;
  justify-content: space-around;
  gap: 20px
}
.new{  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: 4px;}
.featured{  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: 4px;}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 drffzdghnzdgfmf 
.job-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.job-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-card-logo {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-card-tags .tag {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: 4px;
  color: rgb(21, 136, 189);
}

.job-card-body {
  margin-top: 16px;
}

.job-card-body h2 {
  margin: 0;
  font-size: 1.5em;
}

.job-card-body p {
  color: #666;
} */
